@charset "UTF-8";
/**
 *
 * This file is part of <santanamic/css-animation>
 * Created by WILLIAN SANTANA <https://github.com/santanamic>
 *
 * For the information of copyright and license you should read the file
 * LICENSE which is distributed with this source code.
 *
 * Para a informaçao dos direitos autorais e de licença voce deve ler o arquivo
 * LICENSE que é distribuído com este código-fonte.
 *
 * Para obtener la información de los derechos de autor y la licencia debe leer
 * el archivo LICENSE que se distribuye con el código fuente.
 *
 * @author @santanamic
 *
 */
@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}
@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@-webkit-keyframes eat {
  0% {
    -webkit-box-shadow: 100px 65px 0 0 white,  300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white, 900px 65px 0 0 white,  1100px 65px 0 0 white,  1300px 65px 0 0 white;
            box-shadow: 100px 65px 0 0 white,  300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white, 900px 65px 0 0 white,  1100px 65px 0 0 white,  1300px 65px 0 0 white;
  }
  100% {
    -webkit-box-shadow: 0px 65px 0 0 white,  100px 65px 0 0 white, 300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white,  900px 65px 0 0 white,  1100px 65px 0 0 white;
            box-shadow: 0px 65px 0 0 white,  100px 65px 0 0 white, 300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white,  900px 65px 0 0 white,  1100px 65px 0 0 white;
  }
}

@keyframes eat {
  0% {
    -webkit-box-shadow: 100px 65px 0 0 white,  300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white, 900px 65px 0 0 white,  1100px 65px 0 0 white,  1300px 65px 0 0 white;
            box-shadow: 100px 65px 0 0 white,  300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white, 900px 65px 0 0 white,  1100px 65px 0 0 white,  1300px 65px 0 0 white;
  }
  100% {
    -webkit-box-shadow: 0px 65px 0 0 white,  100px 65px 0 0 white, 300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white,  900px 65px 0 0 white,  1100px 65px 0 0 white;
            box-shadow: 0px 65px 0 0 white,  100px 65px 0 0 white, 300px 65px 0 0 white,  500px 65px 0 0 white,  700px 65px 0 0 white,  900px 65px 0 0 white,  1100px 65px 0 0 white;
  }
}

body {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  overflow-x: hidden;
  padding-bottom: 142px;
}

.pacman {
  margin: 40px 10px;
}

.pacman .pacman-top {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 100px 100px 0 0;
  -webkit-animation: spin1 0.5s infinite linear;
          animation: spin1 0.5s infinite linear;
}

.pacman .pacman-bottom {
  background-color: yellow;
  height: 100px;
  width: 200px;
  border-radius: 0 0 100px 100px;
  -webkit-animation: spin2 0.5s infinite linear;
          animation: spin2 0.5s infinite linear;
}

.pacman .feed {
  margin-top: -185px;
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  -webkit-animation: eat 1s linear 0s infinite;
          animation: eat 1s linear 0s infinite;
}
/*# sourceMappingURL=style.css.map */